{% set option = {
label:        field.label|default('Multi Fileupload'),
height:       field.height|default('455px'),
info:         field.info|default('')
} %}

{% set attr_text = {
class:          option.class,
name:           name,
id:             key,
required:       option.required,
data_errortext: option.errortext,
value:          context.content.get(contentkey),
style:          'display:none'
} %}

<fieldset class="imageupload">
    <div class="col-sm-12">
        <label class="control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
        <iframe src="{{ paths.root }}bolt/imageupload/iframe/{{ context.content.contenttype.slug }}/{{ key }}" style="width:100%;height:{{ option.height }};border:1px solid #ccc; border-radius:2px;inset 0px 1px 1px rgba(0,0,0,0.075)"></iframe>
        <input {{ macro.attr(attr_text) }}>
    </div>
</fieldset>
