<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ paths.root }}bolt-public/view/css/bolt.css">
    <link rel="stylesheet" href="{{ paths.extensions }}vendor/cnd/imageupload/assets/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ paths.extensions }}vendor/cnd/imageupload/assets/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ paths.extensions }}vendor/cnd/imageupload/assets/css/extension.css">
    <link rel="stylesheet" href="{{ paths.extensions }}vendor/cnd/imageupload/assets/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>

        pathsroot = '{{ paths.root }}';
        parentContenttype = '{{ contenttype }}';
        parentField = '{{ field }}';
        imagefields = {{ imagefields|json_encode|raw }};

    </script>

    <script src="{{ paths.extensions }}vendor/cnd/imageupload/assets/js/main.js"></script>

</head>
<body>

<form class="form-horizontal tab-content">
    <div id="fileupload">
        <noscript><input type="hidden" name="redirect" value="/bolt"></noscript>
        <div class="fileupload-buttonbar">
            <div>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input id="btnAddFiles" type="file" name="files[]" multiple>
                </span>

                <span class="btn btn-primary fileinput-button" id="btnUploadAllFiles">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Upload/Save All Files </span>
                </span>
            </div>
            <div class="infotext"></div>
        </div>
    </div>
    <div id="metaFields">
        <div id="files"></div>
    </div>
</form>


</body>
</html>